<div class="position-relative overflow-hidden">
  <div class="container text-center vh-60 d-flex justify-content-center">
    <br>
    <br>
    <div class="row align-self-center">
      <div class="col-md-6">
        <h1>Vision</h1>
        <p>To change the way people view captive animals and to bring awareness to people on how we can support a better cause and a better future for our wildlife that is not behind bars.</p>
      </div>
      <div class="col-md-6">
        <h1>Mission</h1>
        <p>To create awareness on the captive animal industry here in south Africa. To make a difference for our captive wildlife and to educate people in a better way than placing animals behind bars.</p>
      </div>
    </div>
  </div>
  <%= image_tag("leaves 1.png", width: "20%", class: "position-absolute", style: "top: -5%; left: -10%")  %>
  <%= image_tag("leaves 2.png", width: "20%", class: "position-absolute", style: "top: -5%; right: -10%" )  %>
  <%= image_tag("leaves 3.png", width: "20%", class: "position-absolute", style: "bottom: 0; left: -10%" )  %>
  <%= image_tag("leaves 4.png", width: "20%", class: "position-absolute", style: "bottom: 0; right: -10%" )  %>
  <br>
  <br>
  <br>
</div>
