<div class="jumbotron"  style="height: 80vh">
  <div class='container text-center align-items-center'>
    <%= image_tag("Name.png", width: "500em")  %>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
<div class="container">
  <div class='row'>
    <div class='col-4'>
      <h1>StaticPages#home</h1>
      <p>Find me in app/views/static_pages/home.html.erb</p>
    </div>
    <div class='col-4'>
      <h1>StaticPages#home</h1>
      <p>Find me in app/views/static_pages/home.html.erb</p>
    </div>
    <div class='col-4'>
      <h1>StaticPages#home</h1>
      <p>Find me in app/views/static_pages/home.html.erb</p>
    </div>
  </div>
</div>
