<div class="container text-center">
  <br>
  <br>
  <br>
  <br>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-Z5fJ0H3BuI" allowfullscreen></iframe>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Bi1q00guTvE" allowfullscreen></iframe>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
